{erl_opts, [debug_info, {i, "_build/default/lib/gpb/include"}]}.

{deps, [
    %% Dependency for Erlang Protobuf support
    {gpb, "4.21.1"}
]}.

{shell, [
    {apps, [chat_application]} %% rebar3 will start this app and all its dependencies
]}.

%% Use the gpb plugin to automatically generate Erlang code from .proto files
{plugins, [
    {rebar3_gpb_plugin, "2.23.2"}
]}.

{gpb_opts, [
    {i, "src"},                %% Where to find .proto files
    {i, "_build/default/lib/gpb/include"}, %% Include path for gpb
    {o_erl, "src"},            %% Where to put generated .erl files
    {o_hrl, "src"},            %% Where to put generated .hrl files
    {module_name_suffix, "_pb"}, %% Matches your chat_application_pb.erl
    {use_packages, true}
]}.

%% This is the bridge between rebar3 and your Makefile
{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.

%% Ensure the priv directory is kept for the C binary
{artifacts, ["priv/chat_client"]}.